{% assign locale = include.locale | default: site.locale %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/BlogPosting"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if post.date %}<meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">{% endif %}
    {% if post.url %}<meta itemprop="url" content="{{ post.url | absolute_url }}">{% endif %}
    {% assign post_image = post.header.og_image | default: post.header.overlay_image | default: post.header.image | default: site.og_image %}
    {% if post_image %}<meta itemprop="image" content="{{ post_image | absolute_url }}">{% endif %}
    <span itemprop="author" itemscope itemtype="https://schema.org/Person"><meta itemprop="name" content="{{ site.author.name }}"><meta itemprop="url" content="{{ '/' | absolute_url }}"></span>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc p-name" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a class="u-url" href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a class="u-url" href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html locale=locale type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt p-summary" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>
