<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% feed_meta %}
  {% seo %}
  <script src="/assets/js/background.js"></script>
  <!-- Google Tag Manager -->
  <script>
    dataLayer = [];
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXJ6VW5');</script>
  <!-- End Google Tag Manager -->  
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXJ6VW5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
  {% include navigation.html %}
   <p>Thank you for the visit!  I am still working both on theming and migrating old blog entries.  Your patience is most appreciated.</p> 
  </header>

  {{ content }}
  
  <footer>Copyright &copy; {{ site.time | date: '%Y' }} <a href="/">Ace Gayhart</a></footer>
</body>
</html>