<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {%- seo -%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://kit.fontawesome.com/5c591e1dc5.js" crossorigin="anonymous"></script>
  {%- feed_meta -%}
  <!-- <script src="/assets/js/background.js"></script> -->
  <!-- Google Tag Manager -->
  <script>
    dataLayer = [];
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXJ6VW5');</script>
  <!-- End Google Tag Manager -->  
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXJ6VW5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
    {% include navigation.html %}
   <p>Thank you for the visit!  I am still working on theming.  Your patience is most appreciated.</p> 
  </header>

  {{ content }}
  <aside id="Archives">
    <h1>Archives</h1>

    <h2>By Year</h2>
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <span class="archive-item"><a href="/year/{{ year.name }}">{{ year.name }}</a></span>
    {% endfor %}
   
    <h2>By Tag</h2>
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      {%- assign t = tag | first -%}
      {%- assign posts = tag | last -%}
      <span class="archive-item"><a href="/tag/{{ t | downcase | replace: ' ', '-' }}">{{ t | downcase | replace: ' ', '-' }} ({{ posts | size }})</a></span>
    {% endfor %}
  </aside>
  <footer>&copy;Copyright <a href="/">Ace Gayhart</a> 2003&ndash;{{ site.time | date: '%Y' }}.  All Rights Reserved</footer>
</body>
</html>