---
layout: default
---
<h1>{{ page.title }}</h1>

{% include post-navigation.html %}

<p>Posted:  <strong>{{ page.date | date: "%B %e, %Y %r" }}</strong></p>

{{ content }}

{%- assign sorted_tags = page.tags | sort -%}
{% if sorted_tags.size > 0 %}
<p style="font-size: smaller;">
    Tags: 
    {% for tag in sorted_tags %}
        [<a href="/tag/{{ tag | downcase | replace:' ','-' }}">{{ tag | downcase | replace:' ','-' }}</a>]
    {% endfor %}
</p>
{% endif %}

{% include post-navigation.html %}
